---
layout: post
title: Blogroll
subtitle: Verse linkjes voor jou!
site_header: Blogroll
lead_image: /image/unsplash/animesh-bhargava-VdpysChxE78-unsplash.jpg
lead_image_credit:
    unsplash:
        name: Animesh Bhargava
        username: bare_foot_runner
---
<p>
    Dit is een verzameling links naar sites die ik volg, op alfabetische volgorde. Doe er je voordeel mee!
    Oh, en je kan ook subscriben op de <a href="{% link blogroll.opml %}">OPML</a> van deze lijst.
</p>
<ul>
    {% assign blogroll_by_title = site.blogroll | sort: "title" %}
    {% for item in blogroll_by_title %}
    <li><a href="{{ item.url }}">{{ item.title }}</a> (<a href="{{ item.feedUrl }}">RSS</a>)</li>
    {% endfor %}
</ul>
