{% include post_nav.html %}

<div class="webmentions">
  <h3>Webmentions</h3>

  <p>
    Heb je een reactie op dit artikel geschreven? Stuur me een
    <a href="https://indieweb.org/Webmention">webmention</a>!
    Het kan een paar dagen duren voordat je reactie hier verschijnt.
  </p>

  {% assign webmentions = site.data.webmentions[page.url] %}
  {% for webmention in webmentions %}
  <div class="webmention">
        <span class="post-meta">
            <span class="published">{% include date.html date=webmention.published %}</span>
            door
            <a href="{{ webmention.url }}" target="_blank" rel="nofollow"><span class="author">{{ webmention.author.name | sanitize_html }}</span></a>
        </span>
    <div class="content">{{ webmention.content.html | sanitize_html }}</div>
  </div>
  {% endfor %}
</div>

<div id="disqus_thread"></div>

<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | prepend: site.baseurl | prepend: site.url }}';
    this.page.identifier = '{{ page.id }}';
  };

  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ site.disqus_hostname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

<noscript>
  Please enable JavaScript to view the <a
    href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
