<div style="padding:75% 0 0 0;position:relative;">
  <iframe title="Vimeo video player"
          src="https://player.vimeo.com/video/{{ vimeo_id }}?portrait=0"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          allow="autoplay; fullscreen"
          frameborder="0" allowfullscreen></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
