<!DOCTYPE html>
<html>

{% include head.html %}

<script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
<body>

{% include header.html %}

<div class="page-content">
    {{ content }}
</div>

{% include footer.html %}

<script data-goatcounter="https://islandsvinur.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>

</html>
