---
layout: page
---
{% assign posts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
<div class="full-archive">
  {% for group in posts %}
  <h2>{{ group.name }}</h2>
  <dl>
    {% for post in group.items %}
    <dt>
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {% include month.html date=post.date %}
        {{ post.date | date: "%-d" }}
      </time>
    </dt>
    <dd>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </dd>
    {% endfor %}
  </dl>
  {% endfor %}
</div>