<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>

{% include header.html %}

<div class="page-content">
    {{ content }}
</div>

{% include footer.html %}

{% if jekyll.environment == "production" %}
<script data-goatcounter="https://islandsvinur.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
{% endif %}
<script type="text/javascript" src="{{ "/dist/bundle.js" | relative_url }}"></script>
</body>

</html>
